.repair_loan {
    background-color: silver;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
}

.vehicle_form_header {
    display: flex;
    text-align: left;
}

.btn_continue {
    border-radius: 2em !important;
}

.form_container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.vehicle_form {
    width: 30%;
    background-color: #ffffff;
    border-radius: 2%;
    padding: 2em !important;
    box-shadow: 0 0 25px #ccc;
}

.condition {
    text-align: left;
}

.maxloan {
    background-color: #edfbf9 !important;
}

.maxloan>p {
    color: #81e0cf
}
